albucore
anthropic
arrow
backoff
bayesian-optimization
bayespy
beautifulsoup4
biopython
black
bson
coolname
dataclasses-json
datasets
faiss-cpu
fastai
fastdtw
funcy
gdcm
gensim
genson
geopy
google-generativeai
gym
h5py
hmmlearn
humanize
httpx
hyperopt
imagecodecs
imbalanced-learn
imgaug
ipykernel
ipython
jsonschema
kornia
librosa
lightgbm
loguru
markovify
matplotlib
nbformat
numba
numpy
omegaconf
openai
opencv-python
optuna
pandas
pdf2image
pillow
plotly
pyarrow
pylibjpeg
pyparsing
pypdf
pytest
pytorch-lightning
pytz
pyyaml
RapidFuzz
rdkit
requests
rich
scikit-image
scikit-learn
scikit-optimize
scipy
seaborn
sentencepiece
sentence-transformers
shutup
sklearn-pandas
statsmodels
sympy
tensorpack
textblob
timm
torch
torchaudio
torchinfo
torchmetrics
torchtext
torchvision
torch-geometric
torch-scatter
tqdm
transformers
xgboost
xlrd